.BodyPage{
    background-color: #ffe0cf;
}
.HeaderLogo{
    width: 287px;
    height: 78px;
}
HeaderLogo:link{
    cursor: pointer;
    margin-left: 139px;
    margin-top: 20px;
}
.Background1{
    color: rgb(226, 15, 15);
    width: 1000px;
    height: 1000px;
}
.MenuText{
    justify-content: center;
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 80px;
    margin-left: 350px;

}
.LeftTopTextDescription{
    font-size: 18px;
    font-weight: 500;
    line-height: 162%;
}
.SitePart1{
 display: grid;
}
.TopImages{
    position: absolute;
}
.TopGlasses{

}
.TopCharacter{

}
.TopGamepad{

}
.LeftTop{
    position: absolute;
    left: 50%;
    bottom: -30%;
}
.LeftTopText2{
    font-size: 58px;
}
.Top{
    display: flex;
}
.TopX{
    animation:
}
.TopSection{
    margin-left: 350px;
}